*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
}

/* Navbar */

/* Navar S1 */

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    align-items: center;
}

.navbar__s1__title{
    color: #892DE1;
}

/* Navbar S2 */

.navbar__s2{
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    font-size: 16px;
    width: 100%;
    border: none;
}

.navbar__s2 input:focus{
    outline: none;
}

/* Navbar S3 */

.navbar__s3{
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Catagories */

.catagories{
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.catagories p{
    background-color: #892DE1;
    padding: 15px;
    color: white;
    border-radius: 30px;
    text-align: center;
}

.catagories p:hover{
    color: black;
    background-color: transparent;
    border: #892DE1 solid 1px;
    transition: 1s;
}

/* Sale Image */

.sale-img img{
    width: 100%;
}

/* Recommended */

.recommended{
    padding: 10px;
}

.course-card{
    width: 300px;
}

.course-card img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

/* Topics */

.topic{
    margin-top: 20px;
    padding: 10px;
}

.topic__title{
    margin-bottom: 10px;
}
.topic__container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;

}

.topic__container p{
    border: solid black 1px;
    padding: 15px;
    flex-grow: 1;
    flex-basis: 25%;
}

.topic__container p:hover{
    background-color: black;
    color: white;
}

/* Most Popular */

.popular{
    padding: 10px;
}

.popular__subtitle{
    margin-bottom: 20px;
}

.popular__container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Footer */

.footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 40px;
}

.footer__one{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.footer__one p{
    margin-top: 20px;
}

.footer__two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}