*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
}

/* Navbar */

/* Navar S1 */

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: #892DE1;
}

/* Navbar S2 */

.navbar__s2{
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    font-size: 16px;
    width: 100%;
    border: none;
}

.navbar__s2 input:focus{
    outline: none;
}

/* Navbar S3 */

.navbar__s3{
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Navbar S4 */

.navbar__s4{
    display: none;
}

/* My Learning */

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    padding: 10px;
    width: 100px;
    right: 0;
    top: 25px;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
    cursor: pointer;
}




/* Catagories */

.catagories{
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.catagories p{
    background-color: #892DE1;
    padding: 15px;
    color: white;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

.catagories p:hover{
    color: black;
    background-color: transparent;
    border: #892DE1 solid 1px;
    transition: 2s;
}

/* Sale Image */

.sale-img{
    position: relative;
}

.sale-img__offer{
    position: absolute;
    background-color: white;
    width: 35%;
    height: 100px;
    padding: 20px;
    top: 140px;
    left: 100px;
    border: #892DE1 solid 5px;
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    
}

.sale-img img{
    width: 100%;
  
}

@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
        animation-duration: 2s;
    }

    50%{
         transform: scale(0.5);
         opacity: 0.5;
         animation-duration: 2s;
    }

    100%{
         transform: scale(1);
        opacity: 1;
        animation-duration: 2s;
    }
}

/* Recommended */

.recommended{
    padding: 10px;
}

.course-card{
    flex-basis: 20%;
    gap: 20px;
    flex-grow: 1;
}

.course-card img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

/* Topics */

.topic{
    margin-top: 20px;
    padding: 10px;
}

.topic__title{
    margin-bottom: 10px;
}
.topic__container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;

}

.topic__container p{
    border: solid black 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.topic__container p:hover{
    background-color: black;
    color: white;
}

/* Most Popular */

.popular{
    padding: 10px;
}

.popular__subtitle{
    margin-bottom: 20px;
}

.popular__container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Footer */

.footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 40px;
}

.footer__one{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.footer__one p{
    margin-top: 20px;
}

.footer__two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


/* Media Queries */


@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .course-card{
        flex-basis:40% ;
    }
    .catagories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }

    .navbar__s4{
        display: block;
        
    }

    .sale-img__offer{
        top: 30px;
        height: 50px;
        left: 30px;
    }
}